<div class="demo-container">
  <input type="text" [(ngModel)]="inputValue">
  <emoji-picker [customClass]="'customClass'"
                [emojisPerRow]="9"
                [emojiPickerRight]="true"
                (selectEmojiEvent)="selectEmoji($event)"></emoji-picker>
  <emoji-picker [customClass]="'customClass'"
                [emojisPerRow]="9"
                [emojiPickerRight]="true"
                (selectEmojiEvent)="selectEmoji($event)"></emoji-picker>
  <emoji-picker [customClass]="'customClass'"
                [emojisPerRow]="9"
                [emojiPickerRight]="true"
                (selectEmojiEvent)="selectEmoji($event)"></emoji-picker>
  <emoji-picker [customClass]="'customClass'"
                [emojisPerRow]="9"
                [emojiPickerRight]="true"
                (selectEmojiEvent)="selectEmoji($event)"></emoji-picker>
</div>
